<div class="container">
  <app-form-control></app-form-control>
</div>
<div class="container">
  <h3>Form Group</h3>
  <ng-container *ngIf="state$ | async as form">
    <ngx-smart-form #smartform [no-grid-layout]="false" (ready)="onFormReadyState(form)" (changes)="afterChanges()"
      (error)="onError($event)" [submitable]="true" [autoupload]="true" (submit)="ngxFormSubmit($event)" [form]="form"
      [autoSubmit]="true" [path]="'http://localhost:3000/customers'" [template]="controlTemplate">
      <ng-template #controlTemplate let-config="value" let-control="control">
        <ngx-clr-form-control class="ngx-smart-form-control" [hidden]="config.hidden" [control]="control"
          [inputConfig]="config"></ngx-clr-form-control>
      </ng-template>
    </ngx-smart-form>
  </ng-container>
</div>
<div class="container">
  <h3>Data Grid</h3>
  <ngx-clr-smart-grid [columns]="columns" [placeholder]="placeholder" [pageResult]="(pageResult$ | async)"
    (dgRefresh)="onDgRefresh($event)" (selectedChange)="onSelectedChanges($event)"
    [config]="gridConfig"></ngx-clr-smart-grid>
</div>