/* You can add global styles to this file, and also import other style files */

:root {
    --dropdown-button-border-bottom-width: 1.25px;
    // --dropdown-button-border-left-width: 1px;
    // --dropdown-button-border-right-width: 1px;
    // --dropdown-button-border-top-width: 1px;
    --dropdown-button-border-color: hsl(198deg, 10%, 46%);
    --dropdown-button-line-height: 1.15rem;
    // --dropdown-button-border-radius: 0.1rem;
    // --dropdown-button-padding: 0.2rem 0.4rem;
    // --dropdown-button-bg-color: #ccc;
    // --dropdown-button-color: #000;
    // --dropdown-button-font-weight: 400;
  }