<div>
  <ngx-clr-form-control
    [class]="'ngx-smart-form-control ' + radioInput.containerClass"
    [hidden]="radioInput.hidden"
    [control]="fileControl"
    [inputConfig]="radioInput"
  ></ngx-clr-form-control>

  <h3>File Controls</h3>
  <br />
  <ngx-clr-form-control
    [class]="'ngx-smart-form-control ' + fileInput.containerClass"
    [hidden]="fileInput.hidden"
    [control]="fileControl"
    [inputConfig]="fileInput"
    [tooltip-error]="tooltipError"
  >
  </ngx-clr-form-control>

  <ngx-clr-form-control
    [class]="'ngx-smart-form-control ' + autoUploadFile.containerClass"
    [hidden]="autoUploadFile.hidden"
    [tooltip-error]="tooltipError"
    [control]="autoUploadFileControl"
    [inputConfig]="autoUploadFile"
  ></ngx-clr-form-control>
  <h3>Date Control</h3>
  <br />
  <ngx-clr-form-control
    [class]="'ngx-smart-form-control ' + dateInput.containerClass"
    [hidden]="dateInput.hidden"
    [control]="dateInputControl"
    [inputConfig]="dateInput"
  ></ngx-clr-form-control>

  <h3>Number Control</h3>
  <br />
  <ngx-clr-form-control
    [class]="'ngx-smart-form-control ' + numberInput.containerClass"
    [hidden]="numberInput.hidden"
    [control]="numberInputControl"
    [inputConfig]="numberInput"
  ></ngx-clr-form-control>

  <h3>Text Control</h3>
  <br />
  <ngx-clr-form-control
    [class]="'ngx-smart-form-control ' + textInput.containerClass"
    [hidden]="textInput.hidden"
    [control]="textInputControl"
    [inputConfig]="textInput"
  ></ngx-clr-form-control>
  <h3>Text Area Control</h3>
  <br />
  <ngx-clr-form-control
    [class]="'ngx-smart-form-control ' + textAreaInput.containerClass"
    [hidden]="textAreaInput.hidden"
    [control]="textAreaInputControl"
    [inputConfig]="textAreaInput"
  ></ngx-clr-form-control>
  <h3>Time Control</h3>
  <br />
  <ngx-clr-form-control
    [class]="'ngx-smart-form-control ' + timeInput.containerClass"
    [hidden]="timeInput.hidden"
    [control]="timeInputControl"
    [inputConfig]="timeInput"
  ></ngx-clr-form-control>
  <h3>Phone Control</h3>
  <br />
  <ngx-clr-form-control
    [countries]="['tg', 'gh']"
    [class]="'ngx-smart-form-control ' + timeInput.containerClass"
    [hidden]="timeInput.hidden"
    [control]="phoneInputControl"
    [inputConfig]="phoneInput"
  ></ngx-clr-form-control>

  <ng-template #tooltipError let-error="error" let-data="data">
    <span *ngIf="error === 'size'" class="tooltip-content error">
      file(s) too large
    </span>
    <span *ngIf="error === 'accept'" class="tooltip-content error">
      file(s) format not supported
    </span>
    <span *ngIf="error === 'upload'" class="tooltip-content error">
      error uploading file(s)
    </span>
  </ng-template>
</div>
